@import url(./pico.min.css);
@import url(./font-awesome/css/fontawesome.min.css);
@import url(./font-awesome/css/solid.min.css);

/* Home page */

@media(max-width: 800px) {
    nav.featured-categories  ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        gap: 2rem 0;
    }

    nav.featured-categories  li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    nav.featured-categories  li i {
        font-size: 2em
    }
}

/* An index page (all notes or tag)*/

html.index .grid {
    gap: 4rem;
}

html.index .note:first-child {
    margin-top: 0;
}

@media(min-width: 800px) {
    html.index .grid {
        grid-template-columns: 25% auto;
    }

    html.index .grid aside {
        order: -1;
    }
}

html.index main > article h1 {
    font-size: 1rem;
}

html.index ul.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
}

html.index ul.tags > li {
    list-style: none;
}

/* A single note page */

@media(min-width: 800px) {
    html.note .grid {
        grid-template-columns: auto 25%;
        grid-column-gap: 4rem;
    }
}

/* A tag page */

.tag header h1 {
    text-transform: capitalize;
}
