<!doctype html>
<html class="no-js index categories" lang="en">
    <head>

        <title>Categories - Tad Notes</title>
        <meta name="description" content="All the categories of Tad Notes">

        {%- include "common-head.html" -%}

    </head>
    <body>
        <header class="container">
            <hgroup>
                <h1>Categories</h1>
                <p>All {{ categories.len() }} categories</p>
            </hgroup>
        </header>

        <div class="container">
            <div class="grid">
                <aside>
                    {%- include "main-navigation.html" -%}
                </aside>
                <main>
                    {% for category in categories %}

                    <a href="{{ category.href() }}"><h2>{{ category.name }}</h2></a>
                    <!-- TODO: Category description -->

                    {% endfor %}
                </main>
            </div>
        </div>
    </body>
</html>
