<!doctype html>
<html class="no-js index all" lang="en">
    <head>
        <title>Notes</title>
        <meta name="description" content="Tad Notes">

        {%- include "common-head.html" -%}

    </head>
    <body>
        <header class="container">
            <hgroup>
                <h1>Tad Notes</h1>
                <p>Exported on {{ date.format("%A, %Y-%m-%d %H:%M") }}</p>
                <!-- TODO: Search -->
            </hgroup>
        </header>

        <div class="container">

            <div class="grid">
                <aside>
                    {%- include "main-navigation.html" -%}
                </aside>
                <main >
                    {% for note in notes %}
                    <article class="note">
                        <h1>
                            <a href="{{ note.href }}">
                                {{ note.title }}
                            </a>
                        </h1>
                        <ul class="tags">
                            {% for tag in note.tags %}
                            <li><a href="{{ tag.href() }}">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </article>
                    {% endfor %}
                </main>


            </div>
        </div>
    </body>
</html>
