<nav class="featured-categories">
    <ul>
        {% for category in featured_categories %}
        <li><a href="categories/{{ category.name }}.html">
            <i class="fa-solid fa-fw fa-{{ category.icon }}"></i>
            {{ category.label }}
        </a></li>
        {% endfor %}
        <li><a href="categories/">
            <i class="fa-solid fa-fw fa-list"></i>
            All categories
        </a></li>
        <li><a href="all.html">
            <i class="fa-solid fa-fw fa-asterisk"></i>
            All notes
        </a></li>
        <li><a href="index.html">
            <i class="fa-solid fa-fw fa-home"></i>
            Home
        </a></li>
    </ul>
</nav>
