<!doctype html>
<html class="no-js note" lang="en">
    <head>

        <title>{{ title }} - Tad Notes</title>
        <meta name="description" content="A Tad Note titled {{ title }}">

        {%- include "common-head.html" -%}

    </head>
    <body>
        <header class="container">
            <hgroup>
                <h1>{{ title }}</h1>
                <p>Note first written on {{ date }}</p>
            </hgroup>
        </header>

        <div class="container">
            <div class="grid">

                <main>
                    {{ body|safe }}
                </main>
                <aside>
                    <nav>
                        <ul>
                            <li><a href="index.html">Index</a></li>
                        </ul>

                        {% if tags.len() != 0 %}
                        <figure>
                            <figcaption>Tagged with:</figcaption>

                            <ul>
                                {% for tag in tags %}
                                <li><a href="{{ tag.href() }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </figure>
                        {% endif %}

                        {% if backlinks.len() != 0 %}
                        <figure>
                            <figcaption>Linking here:</figcaption>

                            <ul>
                                {% for backlink in backlinks %}
                                <li><a  href="{{ backlink.href }}">{{ backlink.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </figure>
                        {% endif %}

                    </nav>
                </aside>
            </div>
        </div>
    </body>
</html>
