<!doctype html>
<html class="no-js index tag {{ tag }}" lang="en">
    <head>

        <title>{{ tag }} - Tad Notes</title>
        <meta name="description" content="All the Tad Notes in the category {{ tag }}">

        {%- include "common-head.html" -%}

    </head>
    <body>
        <header class="container">
            <hgroup>
                <h1>{{ tag }}</h1>
                <p>A category with {{ notes.len() }} notes</p>
            </hgroup>
        </header>

        <div class="container">
            <div class="grid">
                <aside>
                    {%- include "main-navigation.html" -%}
                </aside>

                <main>
                    {% for note in notes %}
                    <article class="note">
                        <h1>
                            <a href="{{ note.href }}">
                                {{ note.title }}
                            </a>
                        </h1>
                        <ul class="tags">
                            {% for tag in note.tags %}
                            <li><a href="{{ tag.href() }}">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </article>
                    {% endfor %}
                </main>
            </div>
        </div>
    </body>
</html>
